.nav {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  font-size: var(--fonte-tamanho-base);
  justify-content: center;
  width: 800px;
}

.logo {
  width: 300px;
}

@media (max-width: 600px) {
  .logo {
    width: 50vw;
  }
}
